
div#logo {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;
}


body#helpID {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


#helpButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#helpButton:hover {
    background-color: #0056b3;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    width: 300px;
    z-index: 10;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}


.options button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options button:hover {
    background-color: #0056b3;
}


.options .report {
    background-color: #FF0000;
}

.options .report:hover {
    background-color: #cc0000;
}


.detailed-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    width: 300px;
    z-index: 1000; 
}

.detailed-info button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detailed-info button:hover {
    background-color: #0056b3;
}


.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/ 
    background-color: white;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: left;
    width: 400px;
    z-index: 1000;
}


.modal form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.modal form input, .modal form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal form button:hover {
    background-color: #0056b3;
}