body {
    font-family: Arial, sans-serif;
    background-color: #f7f0eb !important;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.05) 2px, transparent 1px);
    background-size: 50px 50px;
    margin: 0;
    padding: 0;
}

#wHint{
    position: absolute;
    top: 60%;
    left: 40%;
}

#headerContainer{
    padding-top: 30px;
}

#headerContainer2{
    padding-top: 80px;
}

#dHint{
    position: absolute;
    top: 50%;
    left: 55%;
}

#tHint{
    position: absolute;
    top: 60%;
    left: 55%;
}

#depositSubmit{
    width: 20%;
    padding: 10px 0px 10px 0px;
    margin-top: 5px;
    font-size: 1.2em;
}

#buttonsContainer button{
    background-color: #6c757d;
}