#atm-details {
    position: absolute;
    bottom: 0; /* Positions the element at the bottom */
    left: 0;   /* Aligns the element to the left */
    width: 100%; /* Ensures it spans the full width of the container */    
    padding: 10px; /* Optional, to add space around the content */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.denomination {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.water-level {
    width: 90px;
    height: 90px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    text-align: center;
}
  
.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    transition: height 0.3s;
}
  
.water-level .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    mix-blend-mode: difference;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

.text{
    width: 85%;
}

.amount{
    font-size: 13px;
    margin: 0;
    margin-bottom: 25px;
}

.water-level .water {
    z-index: 0;
}
